*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-lightgrey{
    background-color: lightgrey;
}

.bg-mediumslateblue{
    background-color: mediumslateblue;
}

.color-lightblack{
    background-color: rgb(41, 41, 41)
}

.text-mediumslateblue{
    color: mediumslateblue;
}

.container{
    display: flex;
    max-width: 1080px;
    margin: 0px auto;
}

.container-main{
    display: flex;
    max-width: 1080px;
    margin: 0px auto;
    padding: 60px 0px 60px;
}

.border{
    border: 2px dashed black;
}

.flex{
    display: flex;
}

.text-white{
    color: white;
}

.btn{
    padding: 10px 13px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}




/* header */

header{
    background-color: rgb(30, 84, 225);
}

/* header nav */

nav{
    justify-content: space-between;
    /* background-color: rgb(255, 186, 96); */
    align-items: center;
    padding: 10px ;
}


img{
    width: 10%;
}

.login{
    text-align: center;
    padding: 7px;
}


.menu{
    width: 60%;
    text-align: center;
    color: white;
}


/* header main */

.header-main{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align:center;
    background-position: center;
    height: 400px;
}

.content-header{
    margin: 30px auto;
    align-items: center;
    width: 900px;
}

h1{
    padding: 50px;
}

.p-heading{
    padding: 0px 40px 20px;
    line-height: 28px;
}

.btn-apri{
    background-color: rgb(47, 47, 47);
}

.btn-scarica{
    margin-right: 20px;
    background-color: white;
}





/* main */

.canal{
    height: 500px;
    flex-grow: 1;
}

.description{
    flex-basis: 40%;
}

h2{
    padding: 67px 40px;
    font-size: 45px;
}

.text-main{
    padding-left: 40px;
    line-height: 32px;
}



.item4{
    flex-grow: 1;
    margin: 30px auto;
    align-items: center;
    height: 500px;
}

.last-text{
    text-align: center;
}

.btn-last{
    display: block;
    margin: 30px auto 100px;
    width: 167px;
    color: white;
}





/* footer */
/* prima sezione footer */
.sezione1{
    /* height: 400px; */
    flex-basis: 30%;
    margin: 7px 0px 25px;
}

.h3-footer{
    font-size: 33px;
    padding: 66px 0px 20px;
}


.p-footer{
    padding-left: 10px;
    
}

.font-size-15px{
    font-size: 15px;
}

.sezione2{
    flex-grow: 1;
    margin: 7px 0px 25px;
}

.title-footer{
    padding: 74px 0px 20px;
    font-size: 17px;
}

.link-footer{
    padding: 15px 0px;
}

.section{
    flex-basis: 30%;
}


/* seconda sezione footer */


.footer{
    flex-grow: 1;
    margin: 30px auto;
    align-items: center;
    justify-content: space-between;
}

.end-footer{
    height: 70px;
    margin: 2px 0px;
    align-items: center;
}


.logo-footer, .btn-footer{
    padding: 5px 10px;
    margin: 10px 0px;
}




