*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    display: flex;
    max-width: 1080px;
    margin: 0px auto;
}

.container-main{
    display: flex;
    max-width: 1080px;
    margin: 0px auto;
    padding: 60px 0px 60px;
}

.border{
    border: 2px dashed black;
}

.flex{
    display: flex;
}

.text-white{
    color: white;
}

.btn{
    padding: 10px 13px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: white;
    border-radius: 20px;
}

.margin-30y{
    margin: 30px 0px;
}


/* header */

header{
    background-color: rgb(30, 84, 225);
}

/* header nav */

nav{
    justify-content: space-between;
    /* background-color: rgb(255, 186, 96); */
    align-items: center;
    padding: 10px ;
}


img{
    width: 10%;
}

.login{
    text-align: center;
    padding: 7px;
}


.menu{
    width: 60%;
    text-align: center;
    color: white;
}


/* header main */

.header-main{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align:center;
    background-position: center;
    height: 400px;
}

.content-header{
    margin: 30px auto;
    align-items: center;
    width: 900px;
}

h1{
    padding: 50px;
}

.p-heading{
    padding: 0px 40px 20px;
    line-height: 28px;
}

.btn-apri{
    background-color: rgb(47, 47, 47);
}

.btn-scarica{
    margin-right: 20px;
}





/* main */

.canal-study{
    height: 500px;
    flex-grow: 1;
}

.server-disco{
    flex-basis: 40%;
}

h2{
    padding: 67px 40px;
    font-size: 45px;
}

.text-main{
    padding-left: 40px;
    line-height: 32px;
}


.color-lightgrey{
    background-color: lightgrey;
}
.color-lightlightgrey{
    background-color: rgb(224, 224, 224);
    /* height: 600px; */
}

.color-green{
    background-color: green;
    flex-grow: 1;
    margin: 30px auto;
    align-items: center;
    height: 500px;
}



/* footer */
/* prima sezione footer */
.color-coral{
    background-color: coral;
    height: 400px;
    flex-basis: 30%;
    margin: 7px 0px 25px;
}

.content{
    flex-grow: 1;
    margin: 7px 0px 25px;
    border-top: 2px dashed black;
    border-right: 2px dashed black;
    border-bottom: 2px dashed black;

}

.color-aqua{
    background-color: aqua;
    flex-basis: 30%;
}

.color-lightblack{
    background-color: rgb(41, 41, 41)
}

.border-white{
    border: 2px dotted white;
}

.blocco1, .blocco4{
border: 2px dashed white;
}

.blocco2, .blocco3{
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
}

.blocco2{
    border-right: 2px dashed white;
}


/* seconda sezione footer */


.color-aquamarine{
    background-color: aquamarine;
    flex-grow: 1;
    margin: 30px auto;
    align-items: center;
    justify-content: space-between;
}

.end-footer{
    height: 70px;
    margin: 2px 0px;
    align-items: center;
}


.logo-footer, .btn-footer{
    background-color: pink;
    padding: 5px 10px;
    margin: 10px 0px;
}




